#map {
  width: 100vw;
  height: 100vh;
  background-color: slategrey;
}

.list-group {
  position: fixed;
  top: 50px;
  right: 50px;
  cursor: pointer;
}

button {
  position: fixed;
  bottom: 60px;
  right: 50px;
}
